[access]
	inheritFrom = openbmc-cpp-repos
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	create = group github/openbmc/phosphor-settings-maintainers
	forgeCommitter = group github/openbmc/phosphor-settings-maintainers
	push = group github/openbmc/phosphor-settings-maintainers
	label-Code-Review = -2..+2 group github/openbmc/phosphor-settings-maintainers
	label-Ok-To-Test = +0..+1 group github/openbmc/phosphor-settings-maintainers
	label-Verified = -1..+1 group github/openbmc/phosphor-settings-maintainers
	submit = group github/openbmc/phosphor-settings-maintainers
	editTopicName = group github/openbmc/phosphor-settings-maintainers
[access "refs/tags/*"]
	push = +force group github/openbmc/phosphor-settings-maintainers
	pushTag = +force group github/openbmc/phosphor-settings-maintainers
	pushSignedTag = group github/openbmc/phosphor-settings-maintainers
