---
# Settings Config File
org.openbmc.settings.Host:
    powercap:
        name: power_cap
        type: i
        default: 0
        min: 0
        max: 1000
        unit: watts
        validation: range
    bootflags:
        name: boot_flags
        type: s
        default: "default"
        validation: list
        allowed: ["Network", "Disk", "Safe", "CDROM", "Setup", "default"]
    sysstate:
        name: system_state
        type: s
        default: ""
        validation: None
    powerpolicy:
        name: power_policy
        type: s
        default: "RESTORE_LAST_STATE"
        validation: list
        allowed: ["ALWAYS_POWER_ON", "RESTORE_LAST_STATE", "LEAVE_OFF"]
    restrictedmode:
        name: restricted_mode
        type: b
        default: false
        min: 0
        max: 1
        validation: range
    bootpolicy:
        name: boot_policy
        type: s
        default: "ONETIME"
        validation: list
        allowed: ["ONETIME", "PERMANENT"]
    networkconfig:
        name: network_config
        type: s
        default: "ipaddress=,prefix=,gateway=,mac=,addr_type="
        validation: None
    TimeMode:
        name: time_mode
        type: s
        default: "NTP"
        validation: list
        allowed: ["NTP", "MANUAL"]
    TimeOwner:
        name: time_owner
        type: s
        default: "BMC"
        validation: list
        allowed: ["BMC", "HOST", "SPLIT", "BOTH"]
    UseDhcpNtp:
        name: use_dhcp_ntp
        type: s
        default: "yes"
        validation: list
        allowed: ["yes", "no"]

# Example of using regex
#    MacAddress:
#        name: mac_address
#        type: s
#        default: "aa:bb:cc:dd:ee:ff"
#        validation: regex
#        regex: '([a-fA-F0-9]{2}[:|\-]?){6}'

# Example of using plugin
#    NetSpecific
#       name: network_config
#        type: s
#        default: "ipaddress=,prefix=,gateway=,mac=,addr_type="
#        validation: plugin
#        service: "org.openbmc.NetworkManager"
#        obj: "/org/openbmc/NetworkManager/Interface"
#        intf: "org.openbmc.NetworkManager"
#        method: test
